

:root {
    --my-color: #3498db; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #4e427e; 
}

.container {
    position: relative;
}

/* Circle */
.circle {
    width: 500px;
    height: 200px;
    background-color: #93cbaa; 
    border-radius: 50%; 
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    opacity: 0.7; 
}


.rectangle {
    width: 250px;
    height: 500px;
    background-color: #e74c3c; 
    position: absolute;
    top: 150px;
    left: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    opacity: 0.7; 
}


.triangle {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 530px solid transparent;
    border-bottom: 100px solid #f39c12; 
   
